{
  :vars {
    "uuid" {:type :Uuid}
  }
  "api" {
    "entrypoint" {
      :get {:rsp {:200 {:headers {"Content-Type" "application/json"}}}}
    }
    "${uuid}" {
      :post {:rsp {:200 {:headers {"Content-Type" "application/json"}}
                   :400 {}}}
    }
  }
}
