{
  :vars {
    "uuid" {:type :Uuid}
  }
  "api" {
    :rsp {:headers {"Content-Type" "application/json"}}    
    "entrypoint" {
      :get {:rsp {:200 {}}}
    }
    "${uuid}" {
      :post {:rsp {:200 {} :400 {}}}
    }
  }
}
