{
  :vars {"uuid" {:type :Uuid}}
  :rsp {:headers {"Content-Type" "application/json"}}
  "api" {
    "toastermachine" {
      :get {:rsp {:200 {}}}
    }
    "toastermachine/${uuid}" {
      :post {
        :req {:headers {"Content-Type" "application/json"}}
        :rsp {:200 {} :400 {} :404 {}}
      }
    }
  }
}
