(ns toastermachine.api
  (:require [dahl :as d]
            [protean.api.transformation.sim :refer :all]))

(def entrypoint "api/toastermachine")

(def atom-nodes (atom [{:Ready nil}]))

(def atom-edges (atom nil))

(def graph
  {:Ready {:select-settings :Settings}
   :Settings {:add-bread-mode :Settings
              :add-strength :Settings
              :make-toast :MakingToast}
   :MakingToast {:shutdown :ShutDown
                 :complete-machine :MadeToast}
   :MadeToast {:shutdown :ShutDown}
   :Shutdown {}})

(def rules
  {:Settings (fn [n]
    {:Settings (dissoc (get graph :Settings)
                       (when-not (get-in (last n) [:Settings :breadmode])
                         :make-toast))})
   :MakingToast (fn [_]
     (future (Thread/sleep 10000)
             (when (= (d/current-node-key @atom-nodes) :MakingToast)
               (swap! atom-nodes d/update-node {:MadeToast nil}))))})

(def bodies
  {:Settings {:add-bread-mode {:breadmode #{"bread" "croissant"}}
              :add-strength {:strength #{1 2 3 4 5}}}})

(defn handler
  [req {:keys [status nodes edges result]}]
  (when nodes (reset! atom-nodes nodes))
  (when edges (reset! atom-edges edges))
  (respond req status result))

{
  "api" {
    "toastermachine" {
      :get #(handler % (d/get entrypoint @atom-nodes graph rules bodies))
    }
    "toastermachine/${uuid}" {
      :post #(handler % (d/post entrypoint @atom-nodes @atom-edges graph rules
                                bodies (path-param % "uuid") (body-clj % true)))
    }
  }
}
