/* Wrapper for page content to push down footer */
html {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.content {
  margin-top: 60px;
  margin-bottom: 100px;
}

a {
  word-break: break-word;  /* For Chrome and Safari */
}

table {
  width: 100%;
}

th {
  width: 15%;
  word-break: break-word;  /* For Chrome and Safari */
  text-align: left;
}

footer {
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

@media (min-width: 770px) {
  nav input {
    width: 350px !important;
  }
}
@media (min-width: 800px) {
  nav input {
    width: 400px !important;
  }
}
@media (min-width: 850px) {
  nav input {
    width: 450px !important;
  }
}
@media (min-width: 900px) {
  nav input {
    width: 500px !important;
  }
}
@media (min-width: 950px) {
  nav input {
    width: 550px !important;
  }
}
@media (min-width: 1000px) {
  nav input {
    width: 600px !important;
  }
}
@media (min-width: 1050px) {
  nav input {
    width: 650px !important;
  }
}
@media (min-width: 1100px) {
  nav input {
    width: 700px !important;
  }
}
@media (min-width: 1150px) {
  nav input {
    width: 750px !important;
  }
}
@media (min-width: 1200px) {
  nav input {
    width: 800px !important;
  }
}
@media (min-width: 1250px) {
  nav input {
    width: 850px !important;
  }
}
@media (min-width: 1350px) {
  nav input {
    width: 950px !important;
  }
}
@media (min-width: 1400px) {
  nav input {
    width: 1000px !important;
  }
}
